version: '3.8'

services:
  mongodb:
    image: mongo:latest
    container_name: hostel_mongodb
    volumes:
      - mongo-data:/data/db

  backend:
    build: ./backend
    container_name: hostel_backend
    environment:
      - MONGODB_URI=mongodb://mongodb:27017/hostelops
      - JWT_SECRET=supersecretkeyhostelops2025
    depends_on:
      - mongodb

  frontend:
    build: ./frontend
    container_name: hostel_frontend
    depends_on:
      - backend

  nginx:
    image: nginx:stable-alpine
    container_name: hostel_nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - frontend
      - backend

volumes:
  mongo-data:
